body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family: Arial, sans-serif;
}

#counter {
    color: white;
    font-size: 40rem;
    text-align: center;
}

#titulo {
    color: white;
    font-size: 20rem;
    margin-bottom: 6rem;
    text-align: center;
}